@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	font-family: 'Cormorant Garamond', serif;
	background-color: #efefef;
	text-decoration: none;
}

.hero-img {
	background-image: url('../assets/house.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
